<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Branch</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
<div class="container">
    <h2>Branch</h2>
    <div class="mb-3">
        <div class="mb-3">
            <a th:href="@{/branch/create}" class="btn btn-btn-primary btn-rounded">Add new branch</a>
            <a th:href="@{/logout}" class="btn btn-btn-primary btn-rounded">Logout</a>
            <a th:href="@{/login}" class="btn btn-btn-primary btn-rounded">Login</a>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-lg-6">
            <table>
                <thead>
                <tr>
                    <th>City</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="branch : ${branchList}">
                    <td th:text="${branch.city}"></td>
                    <td th:text="${branch.address}"></td>
                    <td>
                        <a class="btn btn-btn-primary btn-rounded"
                           th:href="@{branch/edit/{branchId}(branchId=${branch.id})}">Update</a>
                        <a class="btn btn-btn-primary btn-rounded"
                           th:href="@{branch/delete/{branchId}(branchId=${branch.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</body>
</html>