<!DOCTYPE html>

<html lang="en" xmlns="  " xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation=" http://tymeleaf.org  ">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<form method = "post" th:action="@{/employee/create}" th:object="${employeeForm}">

    <label for ="firstName"> Employee's first name </label>
    <input id="firstName" type="text" th:field="*{firstName}">

    <label for ="lastName"> Employee's last name </label>
    <input id="lastName" type="text" th:field="*{lastName}">

    <label for ="position"> Employee's position </label>
    <input id="position" type="text" th:field="*{position}">

</form>

</body>
</html>